<nav class="navbar navbar-expand-lg navbar-light bg-light vh-100 position-fixed aside-navbar">
    <div class="container-fluid flex-column align-items-start px-0 h-100">
        <div class="d-flex flex-column">
            <a class="navbar-brand px-2 mb-4" href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e33e944d6b136d33939dadf6358d65c76ec06e49/week5/logo-ANSWER.svg" alt="admin pic" /></a>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="material-icons align-bottom ms-4 me-2">insert_chart</span>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="material-icons align-bottom ms-4 me-2">question_answer</span>Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-start border-4 border-success text-success" href="#"><span class="material-icons align-bottom ms-4 me-2">assignment</span>Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="material-icons align-bottom ms-4 me-2">video_library</span>Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="material-icons align-bottom ms-4 me-2">people</span>Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="material-icons align-bottom ms-4 me-2">settings</span>Settings</a>
                </li>
            </ul>
        </div>

        <div class="d-flex px-2">
            <div class="flex-shrink-0">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="andychen pic" class="rounded-circle object-fit-cover" width="48px" height="48px">
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-bold">Andy Chen</p>
                <a href="mailto:andy0401@mail.com" class="text-muted">andy0401@mail.com</a>
            </div>
        </div>
    </div>
</nav>